	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1400px;
	}

	#u193
	{
		min-height: 481px;
		padding-bottom: 44px;
	}

	#u94
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 46.58%;
	}

	#u126-4
	{
		z-index: 5;
		min-height: 53px;
		background-color: transparent;
		font-size: 34px;
		color: #FFFFFF;
		line-height: 41px;
		position: relative;
		margin-right: -10000px;
		margin-top: 224px;
		width: 35.43%;
		margin-left: 64.58%;
		left: -252px;
	}

	#u193-bw
	{
		min-height: 481px;
	}

